<script type="module" src="@components/pages/works/works.js"></script>
<link rel="stylesheet" href="@components/pages/works/works.scss" />

<main class="page">
  <div class="works page__container _container">
    <h1 class="works__title title">Works</h1>


      <div class="featured-works__items works">
        <article class="works__item">
          <a href="/article" class="works__image _ibg">
            <img src="@img/works/01.png" alt="Work #1" />
          </a>
          <div class="works__body">
            <a href="/article" class="works__title">Designing Dashboards</a>
            <div class="works__info">
              <div class="works__year">2020</div>
              <div class="works__category">Dashboard</div>
            </div>
            <div class="works__text text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </div>
          </div>
        </article>
        <article class="works__item">
          <a href="/article" class="works__image _ibg">
            <img src="@img/works/02.png" alt="Work #2" />
          </a>
          <div class="works__body">
            <a href="/article" class="works__title">Vibrant Portraits of 2020</a>
            <div class="works__info">
              <div class="works__year">2018</div>
              <div class="works__category">Illustration</div>
            </div>
            <div class="works__text text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </div>
          </div>
        </article>
        <article class="works__item">
          <a href="/article" class="works__image _ibg">
            <img src="@img/works/03.png" alt="Work #3" />
          </a>
          <div class="works__body">
            <a href="/article" class="works__title">36 Days of Malayalam type </a>
            <div class="works__info">
              <div class="works__year">2018</div>
              <div class="works__category">Typography</div>
            </div>
            <div class="works__text text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </div>
          </div>
        </article>
      </div>

  </div>
</main>
