// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
  min-width: #{$minWidth}px;
  color: $mainColor;
  font-family: $fontFamily;
  font-size: #{$fontSize}px;

  // Скролл заблоковано
  [data-fls-scrolllock] & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  // Сайт завантажений
  [data-fls-loaded] & {
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
  // Чуйна
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: #{$containerWidth}px;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding-left: #{math.div($containerPadding, 2)}px;
        padding-right: #{math.div($containerPadding, 2)}px;
      } @else {
        @include adaptiveValue(
          'padding-left',
          math.div($containerPadding, 2),
          15
        );
        @include adaptiveValue(
          'padding-right',
          math.div($containerPadding, 2),
          15
        );
      }
    }
  }
} @else {
  // Брейк-поїнтами
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: #{$maxWidthContainer}px;
    } @else {
      @if ($containerPadding>0) {
        padding-left: #{math.div($containerPadding, 2)}px;
        padding-right: #{math.div($containerPadding, 2)}px;
      }
    }
    @media (max-width: toEm($pc)) {
      max-width: 970px;
    }
    @media (max-width: toEm($tablet)) {
      max-width: 750px;
    }
    @media (max-width: toEm($mobile)) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding-left: #{math.div($containerPadding, 2)}px;
        padding-right: #{math.div($containerPadding, 2)}px;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.title {
  font-size: 44px;
  font-weight: 700;
  // color: #21243d;
  line-height: calc(60 / 44) * 100%;
  @media (max-width: toEm($tablet)) {
    font-size: 32px;
  }
}
.text {
  font-size: 16px;
  line-height: 23px;
  // color: #21243d;
}
.btn {
  background: #ff6464;
  border-radius: 2px;
  height: 47px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  line-height: calc(29 / 20) * 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  transition: background-color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #da4c4c;
    }
  }
  &--fw {
    width: 100%;
  }
}

.title-posts {
  font-size: 22px;
  @media (max-width: toEm($mobile)) {
    text-align: center;
    font-size: 18px;
  }
}

//===========================
.works {
  &__item {
    border-bottom: 1px solid #e0e0e0;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: toEm($mobile)) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__image {
    flex: 0 0 246px;
    display: block;
    border-radius: 6px;
    min-height: 180px;
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 10;
    @media (max-width: toEm($mobile)) {
      padding: 0 0 60% 0;
      margin-bottom: 17px;
    }
  }

  &__body {
    flex: 1 1 auto;
    @media (min-width: toEm($mobile)) {
      padding: 0 0 0 18px;
    }
  }

  &__title {
    color: inherit;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    transition: color 0.3s ease 0s;
    &:hover {
      color: #da4c4c;
    }
    @media (max-width: toEm($mobile)) {
      font-size: 24px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
  }

  &__year {
    border-radius: 16px;
    background: #142850;
    height: 25px;
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
  }

  &__category {
    color: #8695a4;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
  }
}

._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
//=====================

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  &__item {
    font-size: 30px;
    color: inherit;
    transition: color 0.3s ease 0s;
    &:hover {
      color: #da4c4c;
    }
  }
}
