<script type="module" src="@components/pages/article/article.js"></script>
<link rel="stylesheet" href="@components/pages/article/article.scss" />

<main class="page">
  <div class="article">
    <h1 class="article__title">Designing Dashboards with usability in mind</h1>
    <div class="article__info">
      <div class="article__year">2020</div>
      <div class="article__category">Dashboard, User Experience Design</div>
    </div>
    <div class="article__text text">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img src="@img/article/01.jpg" alt="Picture 01" />
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img src="@img/article/02.jpg" alt="Picture 02" />
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img src="@img/article/03.jpg" alt="Picture 03" />
    </div>
  </div>
</main>
