@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Heebo:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-heebo: "Heebo", sans-serif;
  --font-bitcount: "Bitcount Single Ink", system-ui;
}


@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}